.header{
  height: 50px;
  background: #88939E;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  height: 50px;
  align-items: center;
}

.headerLinks a {
  padding: 0 10px;
  color: #fff;
}