.masthead {
  background:no-repeat url('../public/assets/hero-image.png');
  background-size: 100vw 400px;
  background-position: center center;
  height: 400px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.headerLinks a {
  padding: 0 10px;
  color: #fff;
}

.headerContent{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerContent * {
  color: #fff;
  margin: 10px 0;
}

.headerContent p {
  margin-bottom: 0;
}

#headerButton {
  margin: 20px 0;
}





@media (max-width: 600px) {
  
  .masthead {
    background-size: 100vw 300px;
    height: 300px;
  }

  #headerButton {
    margin: 20px 0;
  }

}


